# Used for local development and Drizzle migrations
DATABASE_URL=""

# Cloudflare Hyperdrive - local via miniflare
# This is just a DB url which is used when running wrangler dev
# see: https://developers.cloudflare.com/hyperdrive/configuration/local-development/
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=""

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Better Auth Sessions
# values are in seconds
BETTER_AUTH_SESSION_EXPIRES_IN=""
BETTER_AUTH_SESSION_UPDATE_AGE=""

# admin allowlist
# comma seperated list of administrator zids
ADMIN_ZIDS=""

# Logging
# toggles whether values marked devOnly are included in logs
# set to false in production
LOG_DEV_ONLY="true"
LOG_DEBUG="true"

# Emails
RESEND_API_KEY=""
MAILER_FROM_EMAIL=""
CONSOLE_MAILER="true"

# OTP
OTP_EXPIRY_MINS="5"

# Rate Limiting
# this is a fallback and used ONLY if the binding is unavailable
RATE_LIMIT_BYPASS="true"

# Cloudflare Turnstile
PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""

# Public society details for display (e.g in contact/FAQ)
PUBLIC_SOCIETY_EMAIL=""
PUBLIC_SOCIETY_WEBSITE=""
PUBLIC_SWAP_GITHUB=""
